{% extends 'base.html.twig' %}

{% block body %}

      <div id="main-container">
         <nav>
            <a href="{{ path('app_home') }}" id="logo">
            <img src="{{ asset('img/logo.png') }}" alt="Logo TaskLinker" />
            </a>
            <ul id="main-menu">
               <li class="active">
                  <a href="index.html">
                  <i class="fa-solid fa-list-check"></i> Projets
                  </a>
               </li>
               <li>
                  <a href="{{ path('app_users') }}">
                  <i class="fa-regular fa-user"></i> Équipe
                  </a>
               </li>
            </ul>
         </nav>
         <main>
            <header>
               <div id="current-user"></div>
               <div id="title-page">
                  <h1>Créer une tâche</h1>
               </div>
            </header>
            <div id="content">
               <form action="{{ path('app_task_add',{'id': project}) }}" method="post">
                {{ form_start(taskForm) }}
                  <div><label for="tache_titre" class="required">Titre de la tâche</label>{{ form_widget(taskForm.title, {'attr': {'hidden': true}}) }}</div>
                  <div><label for="tache_description">Description</label>{{ form_widget(taskForm.description, {'attr': {'hidden': true}}) }}</div>
                  <div class="flex-form">
                     <div><label for="tache_deadline">Date</label>{{ form_widget(taskForm.deadline, {'attr': {'hidden': true}}) }}</div>
                    <div><label for="tache_statut">Statut</label>{{ form_widget(taskForm.statutId, {'attr': {'hidden': true}}) }}</div>
                  </div>
                  <div>
                     <label for="tache_employe">Membre</label>
                    {{ form_widget(taskForm.userId, {'attr': {'hidden': true}}) }}
                  </div>
                  <br>
                  <button class="button button-submit">Ajouter</button>
               {{ form_end(taskForm) }}
               </form>
            </div>
         </main>
      </div>
{% endblock %}
